<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
<div class="container">
    <a class="btn btn-primary" href="{{ path('default') }}">Base</a>

    <a class="btn btn-danger" href="{{ path('product_create') }}">Create</a>

    {% block body %}

        <ul class="list-unstyled">
            {% for comment in comments %}
                <li>
                    <a href="{{ path('product_edit', {'id': comment.id}) }}">{{ comment.body }}</a>
                </li>
            {% endfor %}
        </ul>

    {% endblock %}


</div>
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>
